<div class="page-container">

  <div class="header">
    <span class="title">Sprint backlog</span>
    <button
      mat-raised-button
      color="accent"
      class="dialog-button"
      class="view-sprints-btn"
      (click)="viewSprints()">
      Pregled sprintov
    </button>
  </div>


  <div id="info-section">
    <div *ngIf="activeSprint!=null; else noActiveSprint">Aktivni sprint: {{activeSprint.start_date | sprintDate}} - {{activeSprint.end_date | sprintDate}}</div>
    <ng-template #noActiveSprint>Trenutno ni aktivnega sprinta.</ng-template>
  </div>

  <div>
    <div *ngIf="activeSprint!=null && stories.length === 0">
      V aktivnem sprintu trenutno ni zgodb.
    </div>
    <app-sprint-story
    *ngFor="let story of stories"
    [story] = "story"
    [tasks] = "story.tasks"
    (editButtonClick)="addTask(story.id)"
  ></app-sprint-story>
  </div>

</div>
