@import "../../../../variables";

.task-card {
  background-color: white;
  padding: 15px;
  margin-top: 10px;
  border-radius: 5px;
  width: 90%;
  box-shadow: $material-shadow;
}

.priority-text {
  display: inline-block;
  font-size: 12px;

  &.orange {
    color: orange;
  }
  &.green {
    color: #22b922;
  }
  &.blue {
    color: #455de4;
  }
  &.grey {
    color: #464646;
  }
}

.task-title {
  font-weight: 500;
}
