<div class="task-card" [class.task-disabled]="disabled">
    <div>
      <div class="priority-text" [ngClass]="{
        'orange': story.priority.id === 1,
        'blue': story.priority.id === 2,
        'green': story.priority.id === 3,
        'grey': story.priority.id === 4}">
        {{story.priority.id | priority}}</div>
      <div class="task-title">{{story.name}}</div>
      <div class="task-complexity">Časovna zahtevnost: {{story.time_complexity || "/"}}</div>
    </div>
    <div>
    <button mat-icon-button color="primary" class="options-btn" (click)="editButtonClick.emit()">
        <span class="material-icons">edit</span>
      </button>
    </div>
</div>
