<div class="header">
  <div class="content">
    <span *ngIf="sidenav; else blank" class="material-icons menu-icon" (click)="toggleNav()">
      {{navOpened ? 'menu_open' : 'menu'}}
    </span>
    <ng-template #blank>
      <span></span>
    </ng-template>
    <span *ngIf="!isHome" class="item" mat-button (click)="navToHome()">Projekti</span>
  </div>

  <span class="header-title">{{(activeProject$ | async)?.name}}</span>

  <div class="content">
    <mat-icon *ngIf="showHome" matTooltip="Domov" (click)="navToHome()" class="item">home</mat-icon>
    <mat-icon *ngIf="!showHome && (isAdmin$ | async)" matTooltip="Admin" (click)="navToAdmin()" class="item">business_center</mat-icon>
    <span class="item" mat-button [matMenuTriggerFor]="menu">{{ (user$ | async)?.username }}</span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Odjava</button>
      <div class="last-login">
        Zadnja prijava: {{(user$ | async)?.last_login | date:'MMM d, y HH:mm'}}
      </div>
    </mat-menu>
  </div>
</div>
