<mat-expansion-panel class="sprint-story">
  <mat-expansion-panel-header>
    <mat-panel-title class="sprint-story-priority" [ngClass]="{
      'orange': story.priority.id === 1,
      'blue': story.priority.id === 2,
      'green': story.priority.id === 3,
      'grey': story.priority.id === 4}">
      {{story.priority.id | priority}}
    </mat-panel-title>
    <mat-panel-description class = "sprint-story-header">
      <div class="sprint-story-description">
        <div class="sprint-story-name">
          {{story.name}}
        </div>
        <div class="sprint-story-complexity">
          Časovna zahtevnost: {{story.time_complexity || "/"}}
        </div>
      </div>
      <div class = "sprint-story-edit">
        <button mat-icon-button color="primary" aria-label="Edit Story" (click)="editStory($event)">
          <mat-icon>playlist_add</mat-icon>
        </button>
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <mat-divider></mat-divider>

  <div class = "tasks-container">
    <div class="data-container">
      <div class="data-section">
        <span class="section-title"> Nedodeljene naloge </span>
        <div class="data-column">
          <app-story-task *ngFor="let task of tasks.unassigned" [task] = "task"></app-story-task>
        </div>
      </div>
      <div class="data-section">
        <span class="section-title"> Dodeljene naloge </span>
        <div class="data-column">
          <app-story-task *ngFor="let task of tasks.assigned" [task] = "task"></app-story-task>
        </div>
      </div>
      <div class="data-section">
        <span class="section-title"> Aktivne naloge </span>
        <div class="data-column">
          <app-story-task *ngFor="let task of tasks.active" [task] = "task"></app-story-task>
        </div>
      </div>
      <div class="data-section">
        <span class="section-title"> Zaključene naloge </span>
        <div class="data-column">
          <app-story-task *ngFor="let task of tasks.finished" [task] = "task"></app-story-task>
        </div>
      </div>
    </div>
  </div>

</mat-expansion-panel>
