@import "../../../../variables";

.page-container {
  min-width: 1000px;
}

.header {
  justify-content: space-between;
  display: flex;

  .pink-btn {
    margin-left: 20px;
  }
}

.sorting-titles {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  font-size: 12px;
  font-weight: 500;
  color: $lightgrey;
  margin-bottom: 5px;

  .realized {
    color: $green;
  }

  .unrealized {
    color: $orange;
  }
}

.sorting-line {
  height: 3px;
  background: rgb(255, 0, 0);
  border-radius: 1.5px;
  background: linear-gradient(
    90deg,
    rgba(252, 176, 69, 1) 66%,
    rgba(34, 185, 34, 1) 66%
  );
}

.data-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 0px;
  height: 80%;

  .data-section {
    .section-title {
      font-weight: 500;
      font-size: 14px;
    }

    .data-column {
      .data-cell {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 10px;

        app-task-card {
          margin-right: 10px;
        }
      }
    }
  }
}

#sprint-speed-row {
  margin-top: 20px;

  #sprint-speed {
    font-size: 16px;
    margin-left: 5px;
    font-weight: 500;

    &.alert {
      color: $red;
    }
  }
}
