<div class="page-container">

  <span class="title">Product backlog</span>
  <button
    mat-raised-button
    color="accent"
    *ngIf="userRole==='Methodology master' || userRole==='Project manager' || isAdmin"
    class="dialog-button"
    class="add-project-btn"
    (click)="addStory()">Dodaj zgodbo</button>

  <div class="sorting-titles">
    <div class="unrealized">Nerealizirane zgodbe</div>
    <div class="realized">Realizirane zgodbe</div>
  </div>
  <div class="sorting-line"></div>
  <div class="data-container">
    <div class="data-section">
      <span class="section-title"> Nedodeljene zgodbe </span>
      <div class="data-column">
        <app-task-card *ngFor="let item of stories.unassigned" [task]="item" cdkDrag></app-task-card>
      </div>
    </div>
    <div class="data-section">
      <span class="section-title"> Dodeljene zgodbe </span>
      <div class="data-column">
        <app-task-card *ngFor="let item of stories.assigned" [task]="item" cdkDrag></app-task-card>
      </div></div>
    <div class="data-section">
      <span class="section-title">Realizirane zgodbe</span>
      <div class="data-column">
        <app-task-card *ngFor="let item of stories.realized" [task]="item" cdkDrag></app-task-card>
      </div></div>
  </div>
</div>