$indigo: #3f51b5;
$pink: #ff4081;
$darkgrey: #313131;
$lightgrey: #a2a2a2;
$verylightgrey: #e6e6e6;
$red: #f44336;

// Barve za izpis prioritijev
$orange: orange;
$green: #22b922;
$blue: #455de4;

$material-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
  0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
