/* You can add global styles to this file, and also import other style files */
@import "./variables";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f3f3f399;
}

.page-container {
  padding: 30px;
}

.title {
  font-size: 20px;
  color: $indigo;
  font-weight: 500;

  &.pink {
    color: $pink;
  }
}

.snackbar-error {
  background-color: $red;
  color: white;

  button {
    color: $darkgrey;
  }
}
